@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', monospace;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-square {
  animation: spin 1.5s linear infinite;
}
